.send-msg-box {
    display: flex;
    min-height: 70px;
    border-top: 1px solid var(--separator-color);
    align-items: center;
    background-color: white;
}

.send-file {
    margin-left: 15px;
}

.voice-msg {
    margin-left: 20px;
}

.text-area-box {
    height: 50px;
    flex-grow: 1;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.input {
    height: 100%;
    width: 100%;
    border: none;
    
}

.emot-icon {
    margin-right: 15px;
    margin-left: 10px;
}