.chat-sidebar {
	background: var(--color-b);
	color: #fff;
	padding: 20px 10px 60px;
	overflow-y: scroll;
	min-width: 200px;
	scrollbar-width: none;
	border: 3px solid white;
}
.chat-sidebar select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 180px;
}

h2 {
	font-size: 20px;
	background: rgba(10, 10, 10, 0.1);
	padding: 10px;
	margin-bottom: 10px;
	text-align: center;
}


ul li {
	padding: 10px 0;
}


ul li:hover {
	color: black;
	cursor: pointer;
}

.online {
	color: greenyellow;
}

.offline {
	color: lightgray;
}