.card {
	margin: 1px 0;
	min-height: 44px;
	background-color: var(--bg-color-own-project);
	color: var(--txt-color-sel);
	border: 1px solid black;
	border-radius: 0.5rem;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	cursor: pointer;
}

.card:hover {
	background-color: var(--bg-color-sel);
}

.selected {
	background-color: var(--bg-color-sel);
	color: var(--txt-color-sel);
}

.name {
	/* background-color: aqua; */
	display: flex;
	align-items: center;
	font-family: "Balsamiq Sans", cursive;
	font-size: 1rem;
	overflow: hidden;
}

.name span {
	margin-left: 10px;
	margin-right: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}