@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");

:root {
	--color-alert: maroon;
	--background-color: #7F8C7B;
	--btn-color: #e6e9ff;
	--border-color: #e6e9ff;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Balsamiq Sans', cursive;
	font-size: 16px;
	background: var(--background-color);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}