.personal-settings-container{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 100%;
}

.title{
    color: #707070;
    margin-top: 50px;
    font-size: 18px;
}

.input {
    outline: none;
    height: 20px;
    margin-left: 10px;
    width: 90%;
    border:none;
}

.input-container{
    width: auto;
    margin-left: 10px;
    border-color: #707070;
    border: 1px solid;
    border-radius: 12px;
}

.input-field {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
    align-items: center;
    align-content: center;
}

.label{
    font-size: 14px;
    color: #707070;
}

.form {
    margin-top: 30px;
}

.btn {
    padding: 0.5rem;
    margin-right: 0.5rem;
    border: 1px solid #707070;
    border-radius: 0.7rem;
    cursor: pointer;
}

.btn:disabled {
    background-color: #ccc;
    cursor: default;
}

.btn-save {
    background-color: #379b37;
}

.btn-revert {
    background-color: #dd3c5c;
}