.light {
    --bg-color: whitesmoke;
    --txt-color: black;
    --bg-color-sel: #c0c0c0;
    --txt-color-sel: black;
    --bg-color-own-project: #707070;
    --bg-color-message: #bababa;
    --bg-color-own-message: #b5d19f;
    --bg-color-group: #707070;
    --txt-color-group: whitesmoke;
    --bg-color-chat: #707070;
    --txt-color-project: whitesmoke;
    --txt-color-chat: whitesmoke;
    --online-color: lime;
    --offline-color: tomato;
    --notification-color: red;
    --starred-color: orange;
    --separator-color: #707070;
    --bg-color-sys: darkkhaki;
    --bg-color-sys-online: springgreen;
    --bg-color-sys-offline: salmon;
    --bg-color-sys-joined: cyan;
    --bg-color-btn-disabled: lightgray;
}

.dark {
    --bg-color: #707070;
    --txt-color: whitesmoke;
    --bg-color-sel: #7bf4f8;
    --txt-color-sel: black;
    --bg-color-own-project: #65c2c5;
    --bg-color-message: #f0f0f0;
    --bg-color-own-message: #e5f1db;
    --bg-color-group: #65c2c5;
    --txt-color-group: #707070;
    --bg-color-chat: #65c2c5;
    --txt-color-project: #707070;
    --txt-color-chat: #707070;
    --online-color: greenyellow;
    --offline-color: orangered;
    --notification-color: tomato;
    --starred-color: gold;
    --separator-color: #65c2c5;
    --bg-color-sys: darkkhaki;
    --bg-color-sys-online: springgreen;
    --bg-color-sys-offline: salmon;
    --bg-color-sys-joined: cyan;
    --bg-color-btn-disabled: gray;
}
