.container {
	display: flex;
	justify-content: space-between;
	margin: 0 30px;
}

.menu-field {
	flex-grow: 1;
}

.menu-field button {
	float: right;
	margin-bottom: 10px;
}

.form-control {
	margin: 10px 0px;
	width: 100%;
}

.input {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
    border-radius: 15px;
    outline: none;
}
.errors {
	color: var(--notification-color);
	margin-left: 20px;
}

.errors li {
	padding: 0;
}

@media (max-width: 480px) {
	.container {
		flex-direction: column;
		align-items: center;
	}
	.menu-field {
		width: 100%;
	}
}