.current-chat-window {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    /* margin-left: 5px; */
    margin-right: 2px;
    background-color: white;
}

.message-box {
    margin-bottom: auto;
}
