.container {
    display: flex;
    flex-direction: column;
}

.expand {
    min-width: 225px;
}

.shrink {
    min-width: 75px;
}

.arrow {
    min-width: 1rem;
    max-width: 1rem;
    cursor: pointer;
    margin: 5px 2px;
}

.img {
    width: 100%;
}