.container {
    display: flex;
    flex-direction: column;
}

.expand {
    min-width: 225px;
}

.shrink {
    min-width: 75px;
}

/* @media (max-width: 480px) {
    .container {
        display: none;
    }
} */