.circle {
    position: absolute;
    bottom: 5%;
    right: 5%;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid white;
}

.red {
    background-color: var(--offline-color);
}

.green {
    background-color: var(--online-color);
}

.small{
    height: 10px;
    width: 10px;
}

.large{
    height: 12px;
    width: 12px;
}