.circle {
    border-radius: 50%;
    display: inline-block;
    margin: 0px 5px 0 5px;
}

.red {
    background-color: var(--offline-color);
}

.green {
    background-color: var(--online-color);
}

.small{
    height: 6px;
    width: 6px;
}

.large{
    height: 12px;
    width: 12px;
}