.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.inner {
    display: flex;
    flex-grow: 1;
}

.title {
    font-size: 20px;
    color: var(--txt-color);
    margin-left: 5px;
    white-space: nowrap;
}

.input-box {
    margin-left: auto;
    border: 1px solid;
    border-radius: 3px;
    color: var(--txt-color);
    padding-left: 15px;
    display: flex;
    height: 32px;
    justify-self: center;
    min-width: 110px;
}

.search-icon {
    display: inline;
    margin: 8px;
}

.more {
    margin: 0 20px;
}

.close {
    float: right;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 480px) {
    .container {
        padding: 5px;
    }
    .more, .notification, .input-box {
        display: none;
    }
    .title {
        font-size: 16px;
    }
}