.close-btn {
    width: 22px;
    height: 22px;
    background-color: var(--color-a);
    border: 1px solid black;
    border-radius: 50%;
    color: black;
    font-weight: bold;
}

.close-btn:hover {
    background-color: gray;
    color: red;
}