.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color-chat);
    margin: 2px 5px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.member {
    display: flex;
}

.container:hover {
    background-color: var(--bg-color-sel);
    color: var(--txt-color-sel);
}

.status {
    display: flex;
    align-items: center;
}

.name {
    margin-left: 10px;
    font-size: 16px;
    color: black;
    display: flex;
    align-items: center;
}

.info {
    max-width: 1.2rem;
    margin-right: 10px;
    fill: black;
}

.info:hover {
    fill: var(--txt-color-hover)
}

