.container {
    display: flex;
    justify-content: space-between;
    height: 2.5rem;
    line-height: 2.5rem;
    background-color: var(--bg-color-chat);
    margin: 2px 5px;
    border-radius: 5px;
    cursor: pointer;
}

.container:hover {
    background-color: var(--bg-color-sel);
    color: var(--txt-color-sel);
}

.title {
    flex-grow: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding-left: 5px;
}

.name {
    margin-left: 5px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.icons {
    display: flex;
}

@media (max-width: 480px) {
    .name {
        white-space: normal;
        text-overflow: inherit;
    }
}
