.light {
    --bg-color: whitesmoke;
    --txt-color: black;
    --txt-color-hover: whitesmoke;
    --bg-color-sel: #c0c0c0;
    --bg-color-input: #c0c0c0;
    --bg-color-hover: #c0c0c0;
    --bg-color-separator: #c0c0c0;
    --txt-color-sel: black;
    --bg-color-own-project: #707070;
    --bg-color-guest-project: slategray;
    --bg-color-guest-sel: lightslategray;
    --bg-color-message: #bababa;
    --bg-color-own-message: #b5d19f;
    --bg-color-group: #707070;
    --txt-color-group: whitesmoke;
    --bg-color-chat: #707070;
    --txt-color-project: whitesmoke;
    --txt-color-chat: whitesmoke;
    --online-color: lime;
    --offline-color: tomato;
    --notification-color: red;
    --starred-color: orange;
    --separator-color: black;
    --bg-color-sys: darkkhaki;
    --bg-color-sys-online: springgreen;
    --bg-color-sys-offline: salmon;
    --bg-color-sys-joined: cyan;
    --bg-color-btn-msg-box: #707070;
    --bg-color-btn-disabled: lightgray;
    --bg-color-btn-submit: #5fb457;
    --bg-color-btn-cancel: #ce4242;
    --bg-color-btn-hover: black;
    --bg-color-member-list: #e6e9ff;
    --bg-color-member-list-select:rgb(180, 179, 179);
}

.dark {
    --bg-color: #707070;
    --txt-color: whitesmoke;
    --txt-color-hover: black;
    --bg-color-sel: #7bf4f8;
    --bg-color-input: #646262;
    --bg-color-hover: #646262;
    --bg-color-separator: #514e4e;
    --txt-color-sel: black;
    --bg-color-own-project: #65c2c5;
    --bg-color-guest-project: slategray;
    --bg-color-guest-sel: lightslategray;
    --bg-color-message: #f0f0f0;
    --bg-color-own-message: #e5f1db;
    --bg-color-group: #65c2c5;
    --txt-color-group: #707070;
    --bg-color-chat: #65c2c5;
    --txt-color-project: #707070;
    --txt-color-chat: #707070;
    --online-color: greenyellow;
    --offline-color: orangered;
    --notification-color: tomato;
    --starred-color: gold;
    --separator-color: black;
    --bg-color-sys: darkkhaki;
    --bg-color-sys-online: springgreen;
    --bg-color-sys-offline: salmon;
    --bg-color-sys-joined: cyan;
    --bg-color-btn-msg-box: #514e4e;
    --bg-color-btn-disabled: gray;
    --bg-color-btn-submit: #5fb457;
    --bg-color-btn-cancel: #ce4242;
    --bg-color-btn-hover: whitesmoke;
    --bg-color-member-list: gray;
    --bg-color-member-list-select:rgb(41, 41, 41);
}
