@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");

:root {
	--color-a: #FF7F50;
	--color-b: #ffac8d;
	--background-color: #e6e9ff;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Balsamiq Sans', cursive;
	font-size: 16px;
	background: var(--background-color);
	margin: 20px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--background-color);
	color: var(--color-a);
	border: 0;
	font-size: 17px;
}

/* Main Chat Page */

.chat-container {
	max-width: 1024px;
	background: #fff;
	margin: 30px auto;
	overflow: hidden;
}

.chat-header {
	background: var(--color-a);
	color: #fff;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
}

.chat-sidebar {
	background: var(--color-b);
	color: #fff;
	padding: 20px 10px 60px;
	overflow-y: scroll;
	max-height: 500px;
	scrollbar-width: none;
}

/* .chat-members {
	display: none;
} */

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(10, 10, 10, 0.1);
	padding: 10px;
	margin-bottom: 10px;
	text-align: center;
}


.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-sidebar ul li.selected {
	background-color: gray;
	color: darkgreen;
}

.chat-sidebar ul li:hover {
	color: darkgreen;
}


/* .chat-messages-container {
	max-height: 500px;
} */

.chat-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: auto;
}

.chat-messages-container .hidden {
	display: none;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--background-color);
	border-radius: 5px;
}

.chat-messages .message .text-self {
	color: green;
}

.chat-messages .message .text-system {
	color: purple;
}

.chat-messages .message .text-server {
	color: mediumblue;
}

.chat-messages .message .timestamp {
	font-size: 15px;
	font-weight: bold;
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-form-container {
	padding: 20px 30px;
	background-color: var(--color-a);
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

/* Login Form Page */
.login-container {
	max-width: 600px;
	margin: 80px auto;
	color: #fff;
}

.login-header {
	text-align: center;
	padding: 20px;
	background: var(--color-a);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.login-main {
	padding: 30px 40px;
	background: var(--color-b);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.login-main p {
	margin-bottom: 20px;
}

.login-main .form-control {
	margin-bottom: 20px;
}

.login-main label {
	display: block;
	margin-bottom: 5px;
}

.login-main input {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.login-main .btn {
	margin-top: 20px;
	width: 100%;
}

@media (max-width: 800px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}
