.menu {
    display: flex;
    padding: 10px 20px;
    overflow-y: auto;
}

@media (max-width: 480px) {
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
}