.circle {
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px;
    margin-top: 9px;
}

.red {
    background-color:#FF6059;
}

.yellow {
    background-color: #FFBD2E;
}

.green {
    background-color: #29C941;
}

.small{
    height: 6px;
    width: 6px;
}

.large{
    height: 12px;
    width: 12px;
}