.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color-group);
    color: black;
    margin: 1px 5px;
    height: 2.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.group:hover {
    background-color: var(--bg-color-sel);
    color: var(--txt-color-sel);
}

.selected {
    border-left: 5px solid red;
    background-color: var(--bg-color-sel);
    color: var(--txt-color-sel);
}

.title {
    /* background-color: darkolivegreen; */
    flex-grow: 1;
    height: 100%;
    line-height: 2.5rem;
    padding: 0 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.icons {
    display: flex;
}

@media (max-width: 480px) {
    .title {
        white-space: normal;
        text-overflow: inherit;
    }
}