.container {
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-items: center;
	color: white;
}
.container div {
	margin-bottom: 50px;
}

.container div h1 {
	width: 80%;
	margin-bottom: 30px;
}

.container div p {
	margin-bottom: 50px;
}

.container button {
	cursor: pointer;
	margin: 0;
	padding: 10px 15px;
	background-color: #ACC8A4;
	border: 0;
	border-radius: 20px;
	color: white;
	font-weight: bold;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: larger;
}