.project-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    min-height: 10vh;
}

.project-box-sm {
    align-items: center;
}

.project-box-lg {
    padding: 0 5px;;
}

.project-container {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
}

.project-container::-webkit-scrollbar {
    width: 0px;            
  }

.project-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;      
  }

.project-container::-webkit-scrollbar-thumb {
    background-color: rgb(34, 34, 37);   
    border-radius: 20px;       
    border: 3px solid rgb(116, 116, 116);  
  }

.list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1px 0;
    padding: 10px;
    cursor: pointer;
}

.small-list {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.large-list {    
    border-radius: 5px;
}

.owner {
    background-color:  #3577EF ;
}

.selected {
    background-color: #8faadd;
    text-decoration: underline;
    color: white;
}

.red {
    background-color: #28817d;
}

.green {
    background-color: #51879c;
}

.blue {
    background-color: #6188d1;
}

.orange {
    background-color: #72b5f3;
}

.project-title {
    text-align: center;
    text-transform: uppercase;
    font-size: small;
    padding-bottom: 5px;
    color: white;
}