.container {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.shrink {
    align-items: center;
}

.expand {
    padding: 0 5px;
}

.list {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
}

.list::-webkit-scrollbar {
    width: 0px;            
}

.card {
    box-sizing: border-box;
    height: 2.5rem;
    line-height: 2.5rem;
    margin: 1px 0;
    cursor: pointer;
}

.small {
    width: 2.5rem;
    border-radius: 50%;
    text-align: center;
    text-transform: uppercase;
}

.large {    
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.large.selected {
    border-left: 5px solid red;
}

.owner {
    background-color: var(--bg-color-own-project);
}

.owner:hover {
    background-color: var(--bg-color-sel);
    color: var(--txt-color-sel);
}

.owner.selected {
    background-color: var(--bg-color-sel);
    color: var(--txt-color-sel);
}

.guest {
    background-color: var(--bg-color-guest-project);
}

.guest:hover {
    background-color: var(--bg-color-guest-sel);
    color: var(--txt-color-sel);
}

.guest.selected {
    background-color: var(--bg-color-guest-sel);
    color: var(--txt-color-sel);
}

.title {
    /* background-color: darkolivegreen; */
    flex-grow: 1;
    display: flex;
    padding-left: 5px;
    overflow: hidden;
    /* max-width: calc(100% - 5.2rem); */
    width: 100%;
}

.name {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 5px;
}

.icons {
    display: flex;
}

@media (max-width: 480px) {
    .title {
        white-space: normal;
        text-overflow: inherit;
    }
}