.container {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.shrink {
    align-items: center;
}

.expand {
    padding: 0 5px;
}

.title {
    color: var(--txt-color);
    text-align: center;
    text-transform: uppercase;
    font-size: small;
    padding: 5px 0;
}

.list {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
}

.list::-webkit-scrollbar {
    width: 0px;            
}

.project {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: black;
    margin: 1px 0;
    padding: 10px;
    cursor: pointer;
}

.small {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.large {    
    border-radius: 5px;
}

.owner {
    background-color: var(--bg-color-own-project);
}

.owner:hover {
    background-color: var(--bg-color-sel);
    color: var(--txt-color-sel);
}
.owner.selected {
    background-color: var(--bg-color-sel);
    color: var(--txt-color-sel);
}

.guest {
    background-color: var(--bg-color-guest-project);
}

.guest:hover {
    background-color: var(--bg-color-guest-sel);
    color: var(--txt-color-sel);
}

.guest.selected {
    background-color: var(--bg-color-guest-sel);
    color: var(--txt-color-sel);
}
