.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: none;
	color:  #fff;
	font-weight: bold;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	border: 0;
	font-size: 20px;
}
