.container {
    display: flex;
    flex-direction: column;
    /* max-height: calc((100vh - 6rem) * 0.4); */
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.container::-webkit-scrollbar {
    display: none;
}