.pic-container {
    width: 60%;
    margin-left: 20px;
}

.profile-picture {
    width: 100%;
    height: auto;
    align-self: center;
    margin-top: 20px;
}

.btn-change {
    width: 100%;
    height: 2rem;
}