.pic-container {
}

.profile-picture {
    width: 100%;
    height: auto;
    align-self: center;
    margin-top: 10px;
    border: 1px solid black;
}

.btn-change {
    width: 100%;
    height: 2rem;
}