.container {
    display: flex;
    max-width: 14rem;
}

.profile-info-box {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
}

.info-arrow {
    min-width: 1.3rem;
    max-width: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-separator);
    cursor: pointer;
    border-right: 2px solid var(--separator-color);
    border-left: 2px solid var(--separator-color);
}

.arrow-img {
    width: 100%;
}

.text-container {
    margin: 0 0.8rem;
}

@media (max-width: 480px) {
    .container {
        max-width: 100%;
    }

    .info-arrow {
        display: none;
    }
}