.section {
	margin: 10px 0px;
	padding: 0 30px;
	width: 100%;
}
.container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.container > div {
	flex-basis: 30%;
	flex-grow: 1;
}

.header {
	margin-bottom: 10px;
	font-weight: bold;
}

.column {
	flex-grow: 1;
	min-width: 140px;
}

.title {
	text-align: center;
	text-transform: uppercase;
	font-size: small;
}

.empty {
	margin: 1px 0;
	min-height: 44px;
	line-height: 44px;
	text-align: center;
}

@media (max-width: 900px) {
	.container {
		display: flex;
		flex-direction: column;
	}

	.column {
		margin-bottom: 10px;
	}
}