.form-control {
	margin: 10px 0px;
	width: 100%;
}
.container {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	margin-bottom: 10px;
}

.add-member {
	display: flex;
}

.add-member button {
	height: 18px;
	font-size: 8px;
}

.group div {
	cursor: pointer;
}

.selected {
	background-color: var(--bg-color-hover);
}

.name {
	margin: 2px 0;
	padding: 5px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

.group > .name:hover {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.title {
	margin-bottom: 10px;
	font-weight: bold;
}

.arrow {
	width: 12px;
	height: 12px;
	padding: 2px;
}

.add-btn {
	margin-right: 6px;
	background-color: var(--bg-color-btn-submit);
	border: 1px solid black;
	border-radius: 20%;
	cursor: pointer;
}

.column {
	flex-grow: 1;
}

.column-title {
	border-bottom: 2px solid black;
}