.avatar {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    border-radius: 50%;
    width: 90%;
    height: 90%;
    align-self: center;
}