.notice {
    display: flex;    
    margin: 4px auto;
    margin: 4px 12px;
    padding: 5px 10px;
    justify-content: center;
    overflow-x: hidden;
    word-wrap: break-word;
    white-space: pre-wrap;
    border-radius: 10px;
}

.online {
    background-color: var(--bg-color-sys-online);
}

.offline {
    background-color: var(--bg-color-sys-offline);
}

.joined {
    background-color: var(--bg-color-sys-joined);
}

.system {
    background-color: var(--bg-color-sys);
}