.list-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card { 
	display: flex;
	align-items: center;
}

.name {
	margin-left: 15px;
}

.buttons {
	display: flex;
	justify-content: flex-end;
}

.info {
	display: inline-block;
	margin-top: 8px;
}

.row {
	margin: 10px 0;
}

.pending {
	padding: 10px 30px;
}