.form-control {
	margin: 10px 0px;
	width: 100%;
}

.input {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
	/* border: none; */
    border-radius: 15px;
    outline: none;
}

.form-btn {
	float: right;
}

.menu-field ul {
	clear: right;
}

.menu-field hr {
	clear: right;
	margin-top: 10px;
}

.list-item {
	display: flex;
	margin-top: 5px;
	height: 32px;
	justify-content: space-between;
	align-items: baseline;
}

.card { 
	display: flex;
	align-items: center;
}

.card span {
	margin-left: 10px;
}

.errors {
	color: var(--notification-color);
	margin-left: 20px;
}

.errors li {
	padding: 0;
}

.btn-search {
	float: right;
	width: 10%;
	min-width: 100px;
	margin-bottom: 10px;
}