.container {
    display: flex;
    flex-direction: column;
    max-height: calc((100vh - 6rem) * 0.4);
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.container::-webkit-scrollbar {
    display: none;
}

.title {
    color: var(--txt-color);
    text-align: center;
    text-transform: uppercase;
    font-size: small;
    padding: 5px 0;
}

@media (max-width: 480px) {
    .container {
        max-height: 100%;
    }
}