.container {
    display: flex;
    flex-direction: column;
}

.title {
    color: var(--txt-color);
    text-align: center;
    text-transform: uppercase;
    font-size: small;
    padding-bottom: 5px;
}