.text-area {
    border: none;
    color: black;
    width: 155px;
    outline: none;
    width:100%;
    resize: none;
    /* overflow: hidden; */
}

.input-writing {
    border: none;
    color: black;
    width: 155px;
    outline: none;
    width:100%;
}

.emoji {
    position: absolute;
    right: 1rem;
    bottom: 3rem;
}

.link-emoji {
    margin-right: 1rem;
    cursor: pointer;
}