.chat-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;	
	background: #fff;
	height: 100vh;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--background-color);
	color: var(--color-a);
	border: 0;
	font-size: 17px;
}
.chat-main {
	flex-grow: 2;
	display: grid;
	grid-template-columns: auto auto 3fr;
	overflow: hidden;
}
