.chat-container {
	max-width: 1024px;
	background: #fff;
	margin: 30px auto;
	overflow: hidden;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--background-color);
	color: var(--color-a);
	border: 0;
	font-size: 17px;
}
.chat-main {
	display: grid;
	grid-template-columns: auto 3fr auto;
}
