.container {
    display: flex;
    padding: 10px 15px;
    margin: 4px 12px;
    background-color: var(--bg-color-message);
    border-radius: 10px;
}

.own {
    flex-direction: row-reverse;
    background-color: var(--bg-color-own-message);
}

.data {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}

.owndata {
    align-items: flex-end;
}

.name {
    font-size: 13px;
}

.time {
    font-style: italic;
    font-size: 12px;
    color: var(--txt-color-chat);
}

.message {
    overflow-x: hidden;
    max-width: 50vw;
    word-wrap: break-word;
    white-space: pre-wrap;
}