.notice {
    display: flex;
    
    margin: 4px 50px;
    /* background-color: #f0f0f0; */
    
}

.message {
    margin: auto;
    padding: 5px 10px;
    overflow-x: hidden;
    max-width: 50vw;
    word-wrap: break-word;
    white-space: pre-wrap;
    border-radius: 10px;
}

.online {
    background-color: chartreuse;
}

.offline {
    background-color: coral;
}

.joined {
    background-color: cyan;
}

.system {
    background-color: darkkhaki;
}