.text-area {
    border: none;
    outline: none;
    width:100%;
    resize: none;
}

.text-area::placeholder {
    color: black;
    font-style: italic;
}

.emoji {
    position: absolute;
    right: 1rem;
    bottom: 3rem;
}

.link-emoji {
    margin-right: 0.6rem;
    cursor: pointer;
}

.image {
    display: flex;
    align-items: center;
    margin: 0 0.6rem;
    cursor: pointer;
}

.img-icon {
    fill: var(--bg-color-btn-msg-box);
}

.send {
    fill: var(--bg-color-btn-msg-box);
    margin-right: 0.6rem;
    cursor: pointer;
}