.input {
    border: none;
    color: #C2C2C2;
    width: 155px;
    outline: none;
    width:100%;
}

.input-writing {
    border: none;
    color: black;
    width: 155px;
    outline: none;
    width:100%;
}