.chat-sidebar {
	background: var(--color-b);
	color: #fff;
	padding: 20px 10px 60px;
	overflow-y: scroll;
	max-height: 500px;
	min-width: 200px;
	scrollbar-width: none;
}

h2 {
	font-size: 20px;
	background: rgba(10, 10, 10, 0.1);
	padding: 10px;
	margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}


ul li {
	padding: 10px 0;
}

ul li.selected {
	background-color: gray;
	color: darkgreen;
}

ul li:hover {
	color: darkgreen;
}