.project-circle-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 10px;
    overflow-x: auto;
    flex-grow: 1;
    min-height: 10vh;
}

.list {
   box-sizing: border-box;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin: 2px 5px;
   height: 40px;
   border-radius: 5px;
   padding: 10px;
   opacity: 0.5;

}

.owner {
    background-color: #8faadd;
}

.selected {
    background-color: #3577EF;
    opacity: 1;
    color: white;
}

.red {
    background-color: lightcoral;
}

.green {
    background-color: lightgreen;
}

.blue {
    background-color: lightblue;
}

.orange {
    background-color: lightgoldenrodyellow;
}