.row {
	display: flex;
	justify-content: space-between;
	margin: 10px 0;
	padding: 3px 0;
}

.invitations {
	margin: 10px 0;
}

.buttons {
	display: flex;
	justify-content: flex-end;
}

.name {
	display: flex;
	align-items: center;
}