.container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow-y: scroll;
    scrollbar-width: none;
}

.inner {
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.inner::-webkit-scrollbar {
    display: none;
}

.header {
    font-size: 12px;
    font-weight: bold;
    color: var(--txt-color);
    display: flex;
    justify-content: center;
    padding: 3px 0;
}

@media (max-width: 480px) {
    .inner {
        max-height: 100%;
    }
}