.container {
    display: flex;
    flex-basis: 225px;
}

.inner {
    display: flex; 
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;
    padding-top: 10px;
    flex-grow: 1;
    flex-shrink: 0;
}
